section.info-fluid {
    height: 50rem;

    div.info {
        display: flex;
        justify-content: space-around;

        article:nth-child(1) {
            font-family: 'Raleway', sans-serif;
            box-sizing: border-box;
            width: 30%;
            box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
            background-color: white;
            padding: 2rem;
            

            h3 {
                font-size: 3rem;
                font-weight: 400;


                p {
                    font-size: 2rem;
                    font-weight: 100;
                    line-height: 1.7;
                }

                
            }
        }

        article:nth-child(2) {
            font-family: 'Raleway', sans-serif;
            box-sizing: border-box;
            width: 30%;
            box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
            background-color: white;
            padding: 2rem;
           

            h3 {
                font-size: 2rem;
                font-weight: 400;


                p {
                    font-size: 1.4rem;
                    font-weight: 100;
                    line-height: 1.7;
                }

                
            }
        }

        article:nth-child(3) {
            font-family: 'Raleway', sans-serif;
            box-sizing: border-box;
            width: 30%;
            box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
            background-color: white;
            padding: 2rem;
           

            h3 {
                font-size: 2rem;
                font-weight: 400;


                p {
                    font-size: 1.4rem;
                    font-weight: 100;
                    line-height: 1.7;
                }

                
            }
        }



    }

}